In [1]:
import pandas as pd

In [24]:
betting_odds = pd.read_csv('betting_odds.csv')
betting_odds

,R_fighter,B_fighter,R_odds,B_odds,date,location,country,Winner,title_bout,weight_class,gender
0,Kevin Lee,Charles Oliveira,-145,135,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Lightweight,MALE
1,Demian Maia,Gilbert Burns,160,-170,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Welterweight,MALE
2,Renato Moicano,Damir Hadzovic,-345,315,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE
3,Johnny Walker,Nikita Krylov,-137,127,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Light Heavyweight,MALE
4,Francisco Trinaldo,John Makdessi,-160,150,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE
...,...,...,...,...,...,...,...,...,...,...,...
4235,Duane Ludwig,Darren Elkins,-155,135,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,False,Lightweight,MALE
4236,John Howard,Daniel Roberts,-210,175,3/21/2010,"Broomfield, Colorado, USA",USA,Red,False,Welterweight,MALE
4237,Brendan Schaub,Chase Gormley,-260,220,3/21/2010,"Broomfield, Colorado, USA",USA,Red,False,Heavyweight,MALE
4238,Mike Pierce,Julio Paulino,-420,335,3/21/2010,"Broomfield, Colorado, USA",USA,Red,False,Welterweight,MALE
4239,Eric Schafer,Jason Brilz,140,-160,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,False,Light Heavyweight,MALE

In [25]:
del betting_odds['location']
del betting_odds['country']
del betting_odds['Winner']
del betting_odds['title_bout']
del betting_odds['weight_class']
del betting_odds['gender']
betting_odds

               R_fighter         B_fighter  R_odds  B_odds       date
0              Kevin Lee  Charles Oliveira    -145     135  3/14/2020
1            Demian Maia     Gilbert Burns     160    -170  3/14/2020
2         Renato Moicano    Damir Hadzovic    -345     315  3/14/2020
3          Johnny Walker     Nikita Krylov    -137     127  3/14/2020
4     Francisco Trinaldo     John Makdessi    -160     150  3/14/2020
...                  ...               ...     ...     ...        ...
4235        Duane Ludwig     Darren Elkins    -155     135  3/21/2010
4236         John Howard    Daniel Roberts    -210     175  3/21/2010
4237      Brendan Schaub     Chase Gormley    -260     220  3/21/2010
4238         Mike Pierce     Julio Paulino    -420     335  3/21/2010
4239        Eric Schafer       Jason Brilz     140    -160  3/21/2010

[4240 rows x 5 columns]

In [26]:
betting_odds.columns = ['fighter_1', 'fighter_2', '1_odds', '2_odds', 'date']
betting_odds

               fighter_1         fighter_2  1_odds  2_odds       date
0              Kevin Lee  Charles Oliveira    -145     135  3/14/2020
1            Demian Maia     Gilbert Burns     160    -170  3/14/2020
2         Renato Moicano    Damir Hadzovic    -345     315  3/14/2020
3          Johnny Walker     Nikita Krylov    -137     127  3/14/2020
4     Francisco Trinaldo     John Makdessi    -160     150  3/14/2020
...                  ...               ...     ...     ...        ...
4235        Duane Ludwig     Darren Elkins    -155     135  3/21/2010
4236         John Howard    Daniel Roberts    -210     175  3/21/2010
4237      Brendan Schaub     Chase Gormley    -260     220  3/21/2010
4238         Mike Pierce     Julio Paulino    -420     335  3/21/2010
4239        Eric Schafer       Jason Brilz     140    -160  3/21/2010

[4240 rows x 5 columns]

In [55]:
betting_odds['date2'] = pd.to_datetime(betting_odds.date)
betting_odds

,fighter_1,fighter_2,1_odds,2_odds,date,date2
0,Kevin Lee,Charles Oliveira,-145,135,3/14/2020,2020-03-14
1,Demian Maia,Gilbert Burns,160,-170,3/14/2020,2020-03-14
2,Renato Moicano,Damir Hadzovic,-345,315,3/14/2020,2020-03-14
3,Johnny Walker,Nikita Krylov,-137,127,3/14/2020,2020-03-14
4,Francisco Trinaldo,John Makdessi,-160,150,3/14/2020,2020-03-14
...,...,...,...,...,...,...
4235,Duane Ludwig,Darren Elkins,-155,135,3/21/2010,2010-03-21
4236,John Howard,Daniel Roberts,-210,175,3/21/2010,2010-03-21
4237,Brendan Schaub,Chase Gormley,-260,220,3/21/2010,2010-03-21
4238,Mike Pierce,Julio Paulino,-420,335,3/21/2010,2010-03-21
4239,Eric Schafer,Jason Brilz,140,-160,3/21/2010,2010-03-21

In [56]:
betting_odds.to_pickle("betting_odds.pkl")

In [78]:
# # seeing how many match up to our data
# match_count = 0
# for i in range(len(betting_odds)):
#     odds_date = betting_odds['date2'][i]
#     for j in range(len(fully_cleaned)):
#         data_date = fully_cleaned.iloc[j]['date']
#         if odds_date == data_date:
#             odds_fighter_1 = betting_odds['fighter_1'][i]
#             odds_fighter_2 = betting_odds['fighter_2'][i]
#             data_fighter_1 = fully_cleaned.iloc[j]['fighter 1']
#             data_fighter_2 = fully_cleaned.iloc[j]['fighter 2']
#             if (odds_fighter_1 == data_fighter_1 and odds_fighter_2 == data_fighter_2) or \
#             (odds_fighter_1 == data_fighter_2 and odds_fighter_2 == data_fighter_1):
#                 match_count += 1
#                 break
  
betting_odds2 = pd.read_pickle('betting_odds.pkl')
del betting_odds2['1_odds']
del betting_odds2['2_odds']
del betting_odds2['date']
betting_odds2.columns = ['fighter 1', 'fighter 2', 'date']
betting_odds2

               fighter 1         fighter 2       date
0              Kevin Lee  Charles Oliveira 2020-03-14
1            Demian Maia     Gilbert Burns 2020-03-14
2         Renato Moicano    Damir Hadzovic 2020-03-14
3          Johnny Walker     Nikita Krylov 2020-03-14
4     Francisco Trinaldo     John Makdessi 2020-03-14
...                  ...               ...        ...
4235        Duane Ludwig     Darren Elkins 2010-03-21
4236         John Howard    Daniel Roberts 2010-03-21
4237      Brendan Schaub     Chase Gormley 2010-03-21
4238         Mike Pierce     Julio Paulino 2010-03-21
4239        Eric Schafer       Jason Brilz 2010-03-21

[4240 rows x 3 columns]

In [90]:
fully_cleaned = pd.read_pickle('fully_cleaned.pkl')
full_cleaned2 = fully_cleaned[['fighter 1', 'fighter 2', 'date']]
comparison_df = full_cleaned2.merge(
        betting_odds2,
        indicator=True,
        how='outer'
    )
count = 0
for i in range(len(comparison_df['_merge'])):
    if comparison_df['_merge'][i] == 'both':
        count += 1
count

3941

In [91]:
fully_cleaned

,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,KD 1,...,decs 1,kos 2,subs 2,decs 2,lkos 1,lsubs 1,ldecs 1,lkos 2,lsubs 2,ldecs 2
5973,Tsuyoshi Kohsaka,14,35,7,4,3,11,0,3,0,...,0,0,0,0,0,0,0,0,0,0
5972,Ebenezer Fontes Braga,9,56,6,1,2,2,5,2,0,...,0,0,0,0,0,0,0,0,0,0
5971,Pat Miletich,19,55,2,12,5,4,15,0,0,...,0,0,0,0,0,0,0,0,0,0
5970,Vitor Belfort,7,53,7,0,0,7,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5969,Mikey Burnett,42,31,28,9,5,21,19,2,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Israel Adesanya,96,53,44,11,41,85,10,1,0,...,5,0,2,5,0,0,1,0,0,2
3,Paul Craig,23,92,18,4,1,6,0,17,0,...,0,1,0,1,3,1,0,0,0,0
2,Eryk Anders,44,59,36,7,1,9,17,18,0,...,2,2,1,2,1,0,4,0,2,3
1,Chase Hooper,31,50,21,9,1,28,0,3,0,...,0,1,0,1,0,0,1,0,0,3
0,Drew Dober,73,43,52,18,3,67,2,4,0,...,3,0,0,3,0,4,2,0,0,0