In [24]:
import numpy as np
import pandas as pd
import datetime

In [25]:
fights_data = pd.read_pickle("data_cleaned_with_fixed_dates.pkl")
fights_data

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Sig. str defended2,Td attempted 2,Height 1,Weight 1,Stance 1,Record 1,Height 2,Weight 2,Stance 2,Record 2
0,L,Dusko Todorovic,37,30%,23,10,4,27,10,0,...,83,5,73.000000,185.0,Orthodox,"[10, 2, 0]",75.000000,185.000000,Orthodox,"[8, 3, 0]"
1,L,Francisco Trinaldo,39,30%,22,16,1,34,5,0,...,89,3,69.000000,155.0,Southpaw,"[26, 8, 0]",71.000000,170.000000,Orthodox,"[18, 2, 0]"
2,L,Elizeu Zaleski dos Santos,46,33%,23,11,12,35,3,8,...,92,3,71.000000,170.0,Orthodox,"[22, 7, 0]",71.000000,170.000000,Orthodox,"[18, 2, 0]"
3,L,Nordine Taleb,6,23%,3,0,3,6,0,0,...,20,0,73.000000,170.0,Orthodox,"[15, 7, 0]",71.000000,170.000000,Orthodox,"[18, 2, 0]"
4,W,Francisco Trinaldo,30,51%,15,7,8,19,3,8,...,28,0,69.000000,155.0,Southpaw,"[26, 8, 0]",73.000000,155.000000,Orthodox,"[10, 2, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5865,W,Marcelo Mello,7,53%,6,1,0,1,0,6,...,6,0,67.000000,170.0,Southpaw,"[1, 0, 0]",73.000000,170.000000,Orthodox,"[5, 8, 0]"
5866,W,Gary Goodridge,8,57%,6,0,2,6,2,0,...,6,0,75.000000,249.0,Orthodox,"[23, 22, 1]",74.000000,345.000000,Orthodox,"[14, 2, 1]"
5867,W,Sione Latu,9,47%,6,2,1,3,4,2,...,10,2,72.000000,215.0,Orthodox,"[1, 0, 0]",74.000000,200.000000,Orthodox,"[4, 3, 0]"
5868,W,Mikey Burnett,42,31%,28,9,5,21,19,2,...,93,6,66.000000,170.0,Orthodox,"[5, 2, 0]",65.000000,170.000000,Orthodox,"[0, 2, 0]"
5869,W,Tulio Palhares,31,70%,26,1,4,11,1,19,...,13,3,70.293459,180.0,Orthodox,"[2, 16, 0]",70.293459,172.836029,Orthodox,"[0, 1, 0]"

In [26]:
fights_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5870 entries, 0 to 5869
Data columns (total 51 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result 1             5870 non-null   object
 1   fighter 1            5870 non-null   object
 2   Sig. str 1           5870 non-null   int64
 3   Sig. str. % 1        5870 non-null   object
 4   Head 1               5870 non-null   int64
 5   Body 1               5870 non-null   int64
 6   Leg 1                5870 non-null   int64
 7   Distance 1           5870 non-null   int64
 8   Clinch 1             5870 non-null   int64
 9   Ground 1             5870 non-null   int64
 10  KD 1                 5870 non-null   object
 11  Total str. 1         5870 non-null   int64
 12  Td 1                 5870 non-null   int64
 13  Td % 1               5870 non-null   object
 14  Sub. att 1           5870 non-null   object
 15  Rev. 1               5870 non-null   object
 16  Ctrl 1               5870 non-null   int64
 17  result 2             5870 non-null   object
 18  fighter 2            5870 non-null   object
 19  Sig. str 2           5870 non-null   int64
 20  Sig. str. % 2        5870 non-null   object
 21  Head 2               5870 non-null   int64
 22  Body 2               5870 non-null   int64
 23  Leg 2                5870 non-null   int64
 24  Distance 2           5870 non-null   int64
 25  Clinch 2             5870 non-null   int64
 26  Ground 2             5870 non-null   int64
 27  KD 2                 5870 non-null   object
 28  Total str. 2         5870 non-null   int64
 29  Td 2                 5870 non-null   int64
 30  Td % 2               5870 non-null   object
 31  Sub. att 2           5870 non-null   object
 32  Rev. 2               5870 non-null   object
 33  Ctrl 2               5870 non-null   int64
 34  date                 5870 non-null   datetime64[ns]
 35  Sig. str attempted1  5870 non-null   int64
 36  Sig. str absorbed1   5870 non-null   int64
 37  Sig. str defended1   5870 non-null   int64
 38  Td attempted 1       5870 non-null   int64
 39  Sig. str attempted2  5870 non-null   int64
 40  Sig. str absorbed2   5870 non-null   int64
 41  Sig. str defended2   5870 non-null   int64
 42  Td attempted 2       5870 non-null   int64
 43  Height 1             5870 non-null   float64
 44  Weight 1             5870 non-null   float64
 45  Stance 1             5870 non-null   object
 46  Record 1             5870 non-null   object
 47  Height 2             5870 non-null   float64
 48  Weight 2             5870 non-null   float64
 49  Stance 2             5870 non-null   object
 50  Record 2             5870 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(28), object(18)
memory usage: 2.3+ MB

In [27]:
#converting any strings to ints
td_percent1 = []
td_percent2 = []
for td in fights_data["Td % 1"]:
    try:
        td_percent1.append(int(td[:-1]))
    except:
        #some values are ---, as 0 divided by 0, we will leave it as 0
        td_percent1.append(0)

for td in fights_data["Td % 2"]:
    try:
        td_percent2.append(int(td[:-1]))
    except:
        td_percent2.append(0)

In [28]:
fights_data["Td % 1"] = td_percent1
fights_data["Td % 2"] = td_percent2

In [29]:
fights_data["KD 1"] = pd.to_numeric(fights_data["KD 1"])
fights_data["KD 2"] = pd.to_numeric(fights_data["KD 2"])

In [30]:
#converting any strings to ints
ssp1 = []
ssp2 = []
for ss in fights_data["Sig. str. % 1"]:
    try:
        ssp1.append(int(ss[:-1]))
    except:
        ssp1.append(0)

for ss in fights_data["Sig. str. % 2"]:
    try:
        ssp2.append(int(ss[:-1]))
    except:
        ssp2.append(0)

In [31]:
fights_data["Sig. str. % 1"] = ssp1
fights_data["Sig. str. % 2"] = ssp2

In [32]:
fights_data["Sub. att 1"] = pd.to_numeric(fights_data["Sub. att 1"])
fights_data["Sub. att 2"] = pd.to_numeric(fights_data["Sub. att 2"])

fights_data["Rev. 1"] = pd.to_numeric(fights_data["Rev. 1"])
fights_data["Rev. 2"] = pd.to_numeric(fights_data["Rev. 2"])

In [33]:
fights_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5870 entries, 0 to 5869
Data columns (total 51 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result 1             5870 non-null   object
 1   fighter 1            5870 non-null   object
 2   Sig. str 1           5870 non-null   int64
 3   Sig. str. % 1        5870 non-null   int64
 4   Head 1               5870 non-null   int64
 5   Body 1               5870 non-null   int64
 6   Leg 1                5870 non-null   int64
 7   Distance 1           5870 non-null   int64
 8   Clinch 1             5870 non-null   int64
 9   Ground 1             5870 non-null   int64
 10  KD 1                 5870 non-null   int64
 11  Total str. 1         5870 non-null   int64
 12  Td 1                 5870 non-null   int64
 13  Td % 1               5870 non-null   int64
 14  Sub. att 1           5870 non-null   int64
 15  Rev. 1               5870 non-null   int64
 16  Ctrl 1               5870 non-null   int64
 17  result 2             5870 non-null   object
 18  fighter 2            5870 non-null   object
 19  Sig. str 2           5870 non-null   int64
 20  Sig. str. % 2        5870 non-null   int64
 21  Head 2               5870 non-null   int64
 22  Body 2               5870 non-null   int64
 23  Leg 2                5870 non-null   int64
 24  Distance 2           5870 non-null   int64
 25  Clinch 2             5870 non-null   int64
 26  Ground 2             5870 non-null   int64
 27  KD 2                 5870 non-null   int64
 28  Total str. 2         5870 non-null   int64
 29  Td 2                 5870 non-null   int64
 30  Td % 2               5870 non-null   int64
 31  Sub. att 2           5870 non-null   int64
 32  Rev. 2               5870 non-null   int64
 33  Ctrl 2               5870 non-null   int64
 34  date                 5870 non-null   datetime64[ns]
 35  Sig. str attempted1  5870 non-null   int64
 36  Sig. str absorbed1   5870 non-null   int64
 37  Sig. str defended1   5870 non-null   int64
 38  Td attempted 1       5870 non-null   int64
 39  Sig. str attempted2  5870 non-null   int64
 40  Sig. str absorbed2   5870 non-null   int64
 41  Sig. str defended2   5870 non-null   int64
 42  Td attempted 2       5870 non-null   int64
 43  Height 1             5870 non-null   float64
 44  Weight 1             5870 non-null   float64
 45  Stance 1             5870 non-null   object
 46  Record 1             5870 non-null   object
 47  Height 2             5870 non-null   float64
 48  Weight 2             5870 non-null   float64
 49  Stance 2             5870 non-null   object
 50  Record 2             5870 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(38), object(8)
memory usage: 2.3+ MB

In [34]:
#stance is a categorical variable, lets one hot encode it
fights_data2 = pd.get_dummies(fights_data, columns=["Stance 1", "Stance 2"])

In [35]:
fights_data2

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Record 2,Stance 1_Open Stance,Stance 1_Orthodox,Stance 1_Southpaw,Stance 1_Switch,Stance 2_Open Stance,Stance 2_Orthodox,Stance 2_Sideways,Stance 2_Southpaw,Stance 2_Switch
0,L,Dusko Todorovic,37,30,23,10,4,27,10,0,...,"[8, 3, 0]",0,1,0,0,0,1,0,0,0
1,L,Francisco Trinaldo,39,30,22,16,1,34,5,0,...,"[18, 2, 0]",0,0,1,0,0,1,0,0,0
2,L,Elizeu Zaleski dos Santos,46,33,23,11,12,35,3,8,...,"[18, 2, 0]",0,1,0,0,0,1,0,0,0
3,L,Nordine Taleb,6,23,3,0,3,6,0,0,...,"[18, 2, 0]",0,1,0,0,0,1,0,0,0
4,W,Francisco Trinaldo,30,51,15,7,8,19,3,8,...,"[10, 2, 0]",0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5865,W,Marcelo Mello,7,53,6,1,0,1,0,6,...,"[5, 8, 0]",0,0,1,0,0,1,0,0,0
5866,W,Gary Goodridge,8,57,6,0,2,6,2,0,...,"[14, 2, 1]",0,1,0,0,0,1,0,0,0
5867,W,Sione Latu,9,47,6,2,1,3,4,2,...,"[4, 3, 0]",0,1,0,0,0,1,0,0,0
5868,W,Mikey Burnett,42,31,28,9,5,21,19,2,...,"[0, 2, 0]",0,1,0,0,0,1,0,0,0
5869,W,Tulio Palhares,31,70,26,1,4,11,1,19,...,"[0, 1, 0]",0,1,0,0,0,1,0,0,0

In [36]:
fights_data2["Stance 1_Sideways"] = np.zeros(5870)

In [37]:
fights_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5870 entries, 0 to 5869
Data columns (total 59 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   result 1              5870 non-null   object
 1   fighter 1             5870 non-null   object
 2   Sig. str 1            5870 non-null   int64
 3   Sig. str. % 1         5870 non-null   int64
 4   Head 1                5870 non-null   int64
 5   Body 1                5870 non-null   int64
 6   Leg 1                 5870 non-null   int64
 7   Distance 1            5870 non-null   int64
 8   Clinch 1              5870 non-null   int64
 9   Ground 1              5870 non-null   int64
 10  KD 1                  5870 non-null   int64
 11  Total str. 1          5870 non-null   int64
 12  Td 1                  5870 non-null   int64
 13  Td % 1                5870 non-null   int64
 14  Sub. att 1            5870 non-null   int64
 15  Rev. 1                5870 non-null   int64
 16  Ctrl 1                5870 non-null   int64
 17  result 2              5870 non-null   object
 18  fighter 2             5870 non-null   object
 19  Sig. str 2            5870 non-null   int64
 20  Sig. str. % 2         5870 non-null   int64
 21  Head 2                5870 non-null   int64
 22  Body 2                5870 non-null   int64
 23  Leg 2                 5870 non-null   int64
 24  Distance 2            5870 non-null   int64
 25  Clinch 2              5870 non-null   int64
 26  Ground 2              5870 non-null   int64
 27  KD 2                  5870 non-null   int64
 28  Total str. 2          5870 non-null   int64
 29  Td 2                  5870 non-null   int64
 30  Td % 2                5870 non-null   int64
 31  Sub. att 2            5870 non-null   int64
 32  Rev. 2                5870 non-null   int64
 33  Ctrl 2                5870 non-null   int64
 34  date                  5870 non-null   datetime64[ns]
 35  Sig. str attempted1   5870 non-null   int64
 36  Sig. str absorbed1    5870 non-null   int64
 37  Sig. str defended1    5870 non-null   int64
 38  Td attempted 1        5870 non-null   int64
 39  Sig. str attempted2   5870 non-null   int64
 40  Sig. str absorbed2    5870 non-null   int64
 41  Sig. str defended2    5870 non-null   int64
 42  Td attempted 2        5870 non-null   int64
 43  Height 1              5870 non-null   float64
 44  Weight 1              5870 non-null   float64
 45  Record 1              5870 non-null   object
 46  Height 2              5870 non-null   float64
 47  Weight 2              5870 non-null   float64
 48  Record 2              5870 non-null   object
 49  Stance 1_Open Stance  5870 non-null   uint8
 50  Stance 1_Orthodox     5870 non-null   uint8
 51  Stance 1_Southpaw     5870 non-null   uint8
 52  Stance 1_Switch       5870 non-null   uint8
 53  Stance 2_Open Stance  5870 non-null   uint8
 54  Stance 2_Orthodox     5870 non-null   uint8
 55  Stance 2_Sideways     5870 non-null   uint8
 56  Stance 2_Southpaw     5870 non-null   uint8
 57  Stance 2_Switch       5870 non-null   uint8
 58  Stance 1_Sideways     5870 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(38), object(6), uint8(9)
memory usage: 2.3+ MB

In [38]:
#lets change result to 0 or 1, will later use as target
res1 = []
res2 = []

for r in fights_data2["result 1"]:
    if r == "W":
        res1.append(1)
    else:
        res1.append(0)
        
for r in fights_data2["result 2"]:
    if r == "W":
        res2.append(1)
    else:
        res2.append(0)

In [39]:
fights_data2["result 1"] = res1
fights_data2["result 2"] = res2

In [40]:
fights_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5870 entries, 0 to 5869
Data columns (total 59 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   result 1              5870 non-null   int64
 1   fighter 1             5870 non-null   object
 2   Sig. str 1            5870 non-null   int64
 3   Sig. str. % 1         5870 non-null   int64
 4   Head 1                5870 non-null   int64
 5   Body 1                5870 non-null   int64
 6   Leg 1                 5870 non-null   int64
 7   Distance 1            5870 non-null   int64
 8   Clinch 1              5870 non-null   int64
 9   Ground 1              5870 non-null   int64
 10  KD 1                  5870 non-null   int64
 11  Total str. 1          5870 non-null   int64
 12  Td 1                  5870 non-null   int64
 13  Td % 1                5870 non-null   int64
 14  Sub. att 1            5870 non-null   int64
 15  Rev. 1                5870 non-null   int64
 16  Ctrl 1                5870 non-null   int64
 17  result 2              5870 non-null   int64
 18  fighter 2             5870 non-null   object
 19  Sig. str 2            5870 non-null   int64
 20  Sig. str. % 2         5870 non-null   int64
 21  Head 2                5870 non-null   int64
 22  Body 2                5870 non-null   int64
 23  Leg 2                 5870 non-null   int64
 24  Distance 2            5870 non-null   int64
 25  Clinch 2              5870 non-null   int64
 26  Ground 2              5870 non-null   int64
 27  KD 2                  5870 non-null   int64
 28  Total str. 2          5870 non-null   int64
 29  Td 2                  5870 non-null   int64
 30  Td % 2                5870 non-null   int64
 31  Sub. att 2            5870 non-null   int64
 32  Rev. 2                5870 non-null   int64
 33  Ctrl 2                5870 non-null   int64
 34  date                  5870 non-null   datetime64[ns]
 35  Sig. str attempted1   5870 non-null   int64
 36  Sig. str absorbed1    5870 non-null   int64
 37  Sig. str defended1    5870 non-null   int64
 38  Td attempted 1        5870 non-null   int64
 39  Sig. str attempted2   5870 non-null   int64
 40  Sig. str absorbed2    5870 non-null   int64
 41  Sig. str defended2    5870 non-null   int64
 42  Td attempted 2        5870 non-null   int64
 43  Height 1              5870 non-null   float64
 44  Weight 1              5870 non-null   float64
 45  Record 1              5870 non-null   object
 46  Height 2              5870 non-null   float64
 47  Weight 2              5870 non-null   float64
 48  Record 2              5870 non-null   object
 49  Stance 1_Open Stance  5870 non-null   uint8
 50  Stance 1_Orthodox     5870 non-null   uint8
 51  Stance 1_Southpaw     5870 non-null   uint8
 52  Stance 1_Switch       5870 non-null   uint8
 53  Stance 2_Open Stance  5870 non-null   uint8
 54  Stance 2_Orthodox     5870 non-null   uint8
 55  Stance 2_Sideways     5870 non-null   uint8
 56  Stance 2_Southpaw     5870 non-null   uint8
 57  Stance 2_Switch       5870 non-null   uint8
 58  Stance 1_Sideways     5870 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(40), object(4), uint8(9)
memory usage: 2.3+ MB

In [41]:
fights_data2.loc[1]

result 1                                  0
fighter 1                Francisco Trinaldo
Sig. str 1                               39
Sig. str. % 1                            30
Head 1                                   22
Body 1                                   16
Leg 1                                     1
Distance 1                               34
Clinch 1                                  5
Ground 1                                  0
KD 1                                      0
Total str. 1                             51
Td 1                                      0
Td % 1                                    0
Sub. att 1                                0
Rev. 1                                    0
Ctrl 1                                   40
result 2                                  1
fighter 2                   Muslim Salikhov
Sig. str 2                               62
Sig. str. % 2                            52
Head 2                                   29
Body 2                                   26
Leg 2                                     7
Distance 2                               48
Clinch 2                                  1
Ground 2                                 13
KD 2                                      1
Total str. 2                             71
Td 2                                      2
Td % 2                                   66
Sub. att 2                                0
Rev. 2                                    0
Ctrl 2                                  127
date                    2021-06-12 00:00:00
Sig. str attempted1                     128
Sig. str absorbed1                       39
Sig. str defended1                       56
Td attempted 1                            1
Sig. str attempted2                     118
Sig. str absorbed2                       39
Sig. str defended2                       89
Td attempted 2                            3
Height 1                                 69
Weight 1                                155
Record 1                         [26, 8, 0]
Height 2                                 71
Weight 2                                170
Record 2                         [18, 2, 0]
Stance 1_Open Stance                      0
Stance 1_Orthodox                         0
Stance 1_Southpaw                         1
Stance 1_Switch                           0
Stance 2_Open Stance                      0
Stance 2_Orthodox                         1
Stance 2_Sideways                         0
Stance 2_Southpaw                         0
Stance 2_Switch                           0
Stance 1_Sideways                         0
Name: 1, dtype: object

In [42]:
#creating some new basic derived features
#we have strike defense, we need takedown defense
fights_data2["tdd1"] = fights_data2["Td attempted 2"] - fights_data2["Td 2"]
fights_data2["tdd2"] = fights_data2["Td attempted 1"] - fights_data2["Td 1"]

In [43]:
#lets do tdd percentages
tddp1 = []
tddp2 = []

for i in range(0, len(fights_data2)):
    if fights_data2["tdd1"][i] == 0 and fights_data2["Td attempted 2"][i] == 0:
        tddp1.append(0)
#     elif fights_data2["tdd2"][i] == 0 and fights_data2["Td attempted 1"][i] == 0:
#         tddp2.append(0)
    else:
        tddp_one = fights_data2["tdd1"][i]/fights_data2["Td attempted 2"][i]
#         tddp_two = fights_data2["tdd2"][i]/fights_data2["Td attempted 1"][i]
        
        tddp1.append(tddp_one)
#         tddp2.append(tddp_two)

for i in range(0, len(fights_data2)):
    if fights_data2["tdd2"][i] == 0 and fights_data2["Td attempted 1"][i] == 0:
        tddp2.append(0)
    else:
     
        tddp_two = fights_data2["tdd2"][i]/fights_data2["Td attempted 1"][i]
        tddp2.append(tddp_two)

In [44]:
fights_data2["Td % 1"] = tddp1
fights_data2["Td % 2"] = tddp2

In [45]:
fights_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5870 entries, 0 to 5869
Data columns (total 61 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   result 1              5870 non-null   int64
 1   fighter 1             5870 non-null   object
 2   Sig. str 1            5870 non-null   int64
 3   Sig. str. % 1         5870 non-null   int64
 4   Head 1                5870 non-null   int64
 5   Body 1                5870 non-null   int64
 6   Leg 1                 5870 non-null   int64
 7   Distance 1            5870 non-null   int64
 8   Clinch 1              5870 non-null   int64
 9   Ground 1              5870 non-null   int64
 10  KD 1                  5870 non-null   int64
 11  Total str. 1          5870 non-null   int64
 12  Td 1                  5870 non-null   int64
 13  Td % 1                5870 non-null   float64
 14  Sub. att 1            5870 non-null   int64
 15  Rev. 1                5870 non-null   int64
 16  Ctrl 1                5870 non-null   int64
 17  result 2              5870 non-null   int64
 18  fighter 2             5870 non-null   object
 19  Sig. str 2            5870 non-null   int64
 20  Sig. str. % 2         5870 non-null   int64
 21  Head 2                5870 non-null   int64
 22  Body 2                5870 non-null   int64
 23  Leg 2                 5870 non-null   int64
 24  Distance 2            5870 non-null   int64
 25  Clinch 2              5870 non-null   int64
 26  Ground 2              5870 non-null   int64
 27  KD 2                  5870 non-null   int64
 28  Total str. 2          5870 non-null   int64
 29  Td 2                  5870 non-null   int64
 30  Td % 2                5870 non-null   float64
 31  Sub. att 2            5870 non-null   int64
 32  Rev. 2                5870 non-null   int64
 33  Ctrl 2                5870 non-null   int64
 34  date                  5870 non-null   datetime64[ns]
 35  Sig. str attempted1   5870 non-null   int64
 36  Sig. str absorbed1    5870 non-null   int64
 37  Sig. str defended1    5870 non-null   int64
 38  Td attempted 1        5870 non-null   int64
 39  Sig. str attempted2   5870 non-null   int64
 40  Sig. str absorbed2    5870 non-null   int64
 41  Sig. str defended2    5870 non-null   int64
 42  Td attempted 2        5870 non-null   int64
 43  Height 1              5870 non-null   float64
 44  Weight 1              5870 non-null   float64
 45  Record 1              5870 non-null   object
 46  Height 2              5870 non-null   float64
 47  Weight 2              5870 non-null   float64
 48  Record 2              5870 non-null   object
 49  Stance 1_Open Stance  5870 non-null   uint8
 50  Stance 1_Orthodox     5870 non-null   uint8
 51  Stance 1_Southpaw     5870 non-null   uint8
 52  Stance 1_Switch       5870 non-null   uint8
 53  Stance 2_Open Stance  5870 non-null   uint8
 54  Stance 2_Orthodox     5870 non-null   uint8
 55  Stance 2_Sideways     5870 non-null   uint8
 56  Stance 2_Southpaw     5870 non-null   uint8
 57  Stance 2_Switch       5870 non-null   uint8
 58  Stance 1_Sideways     5870 non-null   float64
 59  tdd1                  5870 non-null   int64
 60  tdd2                  5870 non-null   int64
dtypes: datetime64[ns](1), float64(7), int64(40), object(4), uint8(9)
memory usage: 2.6+ MB

In [46]:
#the only non numbers still left are names and records, these will be dealt in anothe rnotebook
fights_data2.to_pickle("fights_strings_removed.pkl")