In [31]:
import numpy as np
import pandas as pd
import datetime

In [1]:
#fights_data = pd.read_pickle("data_cleaned_with_fixed_dates.pkl")
fights_data = pd.read_pickle("fighter_fights_combined.pkl")
fights_data

NameError: name 'pd' is not defined

In [2]:
fights_data.loc[10]

NameError: name 'fights_data' is not defined

In [3]:
fights_data.info()

NameError: name 'fights_data' is not defined

In [35]:
#converting any strings to ints
td_percent1 = []
td_percent2 = []
for td in fights_data["Td % 1"]:
    try:
        td_percent1.append(int(td[:-1]))
    except:
        #some values are ---, as 0 divided by 0, we will leave it as 0
        td_percent1.append(0)

for td in fights_data["Td % 2"]:
    try:
        td_percent2.append(int(td[:-1]))
    except:
        td_percent2.append(0)

In [36]:
fights_data["Td % 1"] = td_percent1
fights_data["Td % 2"] = td_percent2

In [37]:
fights_data["KD 1"] = pd.to_numeric(fights_data["KD 1"])
fights_data["KD 2"] = pd.to_numeric(fights_data["KD 2"])

In [38]:
#converting any strings to ints
ssp1 = []
ssp2 = []
for ss in fights_data["Sig. str. % 1"]:
    try:
        ssp1.append(int(ss[:-1]))
    except:
        ssp1.append(0)

for ss in fights_data["Sig. str. % 2"]:
    try:
        ssp2.append(int(ss[:-1]))
    except:
        ssp2.append(0)

In [39]:
fights_data["Sig. str. % 1"] = ssp1
fights_data["Sig. str. % 2"] = ssp2

In [40]:
fights_data["Sub. att 1"] = pd.to_numeric(fights_data["Sub. att 1"])
fights_data["Sub. att 2"] = pd.to_numeric(fights_data["Sub. att 2"])

fights_data["Rev. 1"] = pd.to_numeric(fights_data["Rev. 1"])
fights_data["Rev. 2"] = pd.to_numeric(fights_data["Rev. 2"])

In [41]:
fights_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5865 entries, 0 to 5973
Data columns (total 56 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result 1             5865 non-null   object
 1   fighter 1            5865 non-null   object
 2   Sig. str 1           5865 non-null   int64
 3   Sig. str. % 1        5865 non-null   int64
 4   Head 1               5865 non-null   int64
 5   Body 1               5865 non-null   int64
 6   Leg 1                5865 non-null   int64
 7   Distance 1           5865 non-null   int64
 8   Clinch 1             5865 non-null   int64
 9   Ground 1             5865 non-null   int64
 10  KD 1                 5865 non-null   int64
 11  Total str. 1         5865 non-null   int64
 12  Td 1                 5865 non-null   int64
 13  Td % 1               5865 non-null   int64
 14  Sub. att 1           5865 non-null   int64
 15  Rev. 1               5865 non-null   int64
 16  Ctrl 1               5865 non-null   int64
 17  time1                5865 non-null   float64
 18  method1              5865 non-null   object
 19  date1                5865 non-null   datetime64[ns]
 20  result 2             5865 non-null   object
 21  fighter 2            5865 non-null   object
 22  Sig. str 2           5865 non-null   int64
 23  Sig. str. % 2        5865 non-null   int64
 24  Head 2               5865 non-null   int64
 25  Body 2               5865 non-null   int64
 26  Leg 2                5865 non-null   int64
 27  Distance 2           5865 non-null   int64
 28  Clinch 2             5865 non-null   int64
 29  Ground 2             5865 non-null   int64
 30  KD 2                 5865 non-null   int64
 31  Total str. 2         5865 non-null   int64
 32  Td 2                 5865 non-null   int64
 33  Td % 2               5865 non-null   int64
 34  Sub. att 2           5865 non-null   int64
 35  Rev. 2               5865 non-null   int64
 36  Ctrl 2               5865 non-null   int64
 37  time2                5865 non-null   float64
 38  method2              5865 non-null   object
 39  date2                5865 non-null   datetime64[ns]
 40  Sig. str attempted1  5865 non-null   int64
 41  Sig. str absorbed1   5865 non-null   int64
 42  Sig. str defended1   5865 non-null   int64
 43  Td attempted 1       5865 non-null   int64
 44  Sig. str attempted2  5865 non-null   int64
 45  Sig. str absorbed2   5865 non-null   int64
 46  Sig. str defended2   5865 non-null   int64
 47  Td attempted 2       5865 non-null   int64
 48  Height 1             5865 non-null   float64
 49  Weight 1             5865 non-null   float64
 50  Stance 1             5865 non-null   object
 51  Height 2             5865 non-null   float64
 52  Weight 2             5865 non-null   float64
 53  Stance 2             5865 non-null   object
 54  Record 1             5865 non-null   object
 55  Record 2             5865 non-null   object
dtypes: datetime64[ns](2), float64(6), int64(38), object(10)
memory usage: 2.7+ MB

In [ ]:
fights_datat2[""]

In [43]:
fights_data2

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Record 2,Stance 1_Open,Stance 1_Orthodox,Stance 1_Southpaw,Stance 1_Switch,Stance 2_Open,Stance 2_Orthodox,Stance 2_Sideways,Stance 2_Southpaw,Stance 2_Switch
0,L,Drew Dober,73,43,52,18,3,67,2,4,...,"[10, 1, 0]",0,0,1,0,0,1,0,0,0
1,L,Chase Hooper,31,50,21,9,1,28,0,3,...,"[19, 9, 0]",0,0,1,0,0,1,0,0,0
2,W,Eryk Anders,44,59,36,7,1,9,17,18,...,"[12, 7, 0]",0,0,1,0,0,1,0,0,0
3,W,Paul Craig,23,92,18,4,1,6,0,17,...,"[8, 1, 0]",0,1,0,0,0,0,0,1,0
4,W,Israel Adesanya,96,53,44,11,41,85,10,1,...,"[17, 5, 1]",0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5969,W,Mikey Burnett,42,31,28,9,5,21,19,2,...,"[0, 2, 0]",0,1,0,0,0,1,0,0,0
5970,W,Vitor Belfort,7,53,7,0,0,7,0,0,...,"[35, 13, 1]",0,0,1,0,0,1,0,0,0
5971,W,Pat Miletich,19,55,2,12,5,4,15,0,...,"[5, 2, 0]",0,1,0,0,0,1,0,0,0
5972,W,Ebenezer Fontes Braga,9,56,6,1,2,2,5,2,...,"[91, 22, 5]",0,1,0,0,0,1,0,0,0
5973,W,Tsuyoshi Kohsaka,14,35,7,4,3,11,0,3,...,"[12, 6, 0]",0,1,0,0,0,1,0,0,0

In [45]:
fights_data2["Stance 1_Sideways"] = np.zeros(5865)

In [46]:
fights_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5865 entries, 0 to 5973
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result 1             5865 non-null   object
 1   fighter 1            5865 non-null   object
 2   Sig. str 1           5865 non-null   int64
 3   Sig. str. % 1        5865 non-null   int64
 4   Head 1               5865 non-null   int64
 5   Body 1               5865 non-null   int64
 6   Leg 1                5865 non-null   int64
 7   Distance 1           5865 non-null   int64
 8   Clinch 1             5865 non-null   int64
 9   Ground 1             5865 non-null   int64
 10  KD 1                 5865 non-null   int64
 11  Total str. 1         5865 non-null   int64
 12  Td 1                 5865 non-null   int64
 13  Td % 1               5865 non-null   int64
 14  Sub. att 1           5865 non-null   int64
 15  Rev. 1               5865 non-null   int64
 16  Ctrl 1               5865 non-null   int64
 17  time1                5865 non-null   float64
 18  method1              5865 non-null   object
 19  date1                5865 non-null   datetime64[ns]
 20  result 2             5865 non-null   object
 21  fighter 2            5865 non-null   object
 22  Sig. str 2           5865 non-null   int64
 23  Sig. str. % 2        5865 non-null   int64
 24  Head 2               5865 non-null   int64
 25  Body 2               5865 non-null   int64
 26  Leg 2                5865 non-null   int64
 27  Distance 2           5865 non-null   int64
 28  Clinch 2             5865 non-null   int64
 29  Ground 2             5865 non-null   int64
 30  KD 2                 5865 non-null   int64
 31  Total str. 2         5865 non-null   int64
 32  Td 2                 5865 non-null   int64
 33  Td % 2               5865 non-null   int64
 34  Sub. att 2           5865 non-null   int64
 35  Rev. 2               5865 non-null   int64
 36  Ctrl 2               5865 non-null   int64
 37  time2                5865 non-null   float64
 38  method2              5865 non-null   object
 39  date2                5865 non-null   datetime64[ns]
 40  Sig. str attempted1  5865 non-null   int64
 41  Sig. str absorbed1   5865 non-null   int64
 42  Sig. str defended1   5865 non-null   int64
 43  Td attempted 1       5865 non-null   int64
 44  Sig. str attempted2  5865 non-null   int64
 45  Sig. str absorbed2   5865 non-null   int64
 46  Sig. str defended2   5865 non-null   int64
 47  Td attempted 2       5865 non-null   int64
 48  Height 1             5865 non-null   float64
 49  Weight 1             5865 non-null   float64
 50  Height 2             5865 non-null   float64
 51  Weight 2             5865 non-null   float64
 52  Record 1             5865 non-null   object
 53  Record 2             5865 non-null   object
 54  Stance 1_Open        5865 non-null   uint8
 55  Stance 1_Orthodox    5865 non-null   uint8
 56  Stance 1_Southpaw    5865 non-null   uint8
 57  Stance 1_Switch      5865 non-null   uint8
 58  Stance 2_Open        5865 non-null   uint8
 59  Stance 2_Orthodox    5865 non-null   uint8
 60  Stance 2_Sideways    5865 non-null   uint8
 61  Stance 2_Southpaw    5865 non-null   uint8
 62  Stance 2_Switch      5865 non-null   uint8
 63  Stance 1_Sideways    5865 non-null   float64
dtypes: datetime64[ns](2), float64(7), int64(38), object(8), uint8(9)
memory usage: 2.7+ MB

In [47]:
#lets change result to 0 or 1, will later use as target
res1 = []
res2 = []

for r in fights_data2["result 1"]:
    if r == "W":
        res1.append(1)
    else:
        res1.append(0)
        
for r in fights_data2["result 2"]:
    if r == "W":
        res2.append(1)
    else:
        res2.append(0)

In [48]:
fights_data2["result 1"] = res1
fights_data2["result 2"] = res2

In [49]:
fights_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5865 entries, 0 to 5973
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result 1             5865 non-null   int64
 1   fighter 1            5865 non-null   object
 2   Sig. str 1           5865 non-null   int64
 3   Sig. str. % 1        5865 non-null   int64
 4   Head 1               5865 non-null   int64
 5   Body 1               5865 non-null   int64
 6   Leg 1                5865 non-null   int64
 7   Distance 1           5865 non-null   int64
 8   Clinch 1             5865 non-null   int64
 9   Ground 1             5865 non-null   int64
 10  KD 1                 5865 non-null   int64
 11  Total str. 1         5865 non-null   int64
 12  Td 1                 5865 non-null   int64
 13  Td % 1               5865 non-null   int64
 14  Sub. att 1           5865 non-null   int64
 15  Rev. 1               5865 non-null   int64
 16  Ctrl 1               5865 non-null   int64
 17  time1                5865 non-null   float64
 18  method1              5865 non-null   object
 19  date1                5865 non-null   datetime64[ns]
 20  result 2             5865 non-null   int64
 21  fighter 2            5865 non-null   object
 22  Sig. str 2           5865 non-null   int64
 23  Sig. str. % 2        5865 non-null   int64
 24  Head 2               5865 non-null   int64
 25  Body 2               5865 non-null   int64
 26  Leg 2                5865 non-null   int64
 27  Distance 2           5865 non-null   int64
 28  Clinch 2             5865 non-null   int64
 29  Ground 2             5865 non-null   int64
 30  KD 2                 5865 non-null   int64
 31  Total str. 2         5865 non-null   int64
 32  Td 2                 5865 non-null   int64
 33  Td % 2               5865 non-null   int64
 34  Sub. att 2           5865 non-null   int64
 35  Rev. 2               5865 non-null   int64
 36  Ctrl 2               5865 non-null   int64
 37  time2                5865 non-null   float64
 38  method2              5865 non-null   object
 39  date2                5865 non-null   datetime64[ns]
 40  Sig. str attempted1  5865 non-null   int64
 41  Sig. str absorbed1   5865 non-null   int64
 42  Sig. str defended1   5865 non-null   int64
 43  Td attempted 1       5865 non-null   int64
 44  Sig. str attempted2  5865 non-null   int64
 45  Sig. str absorbed2   5865 non-null   int64
 46  Sig. str defended2   5865 non-null   int64
 47  Td attempted 2       5865 non-null   int64
 48  Height 1             5865 non-null   float64
 49  Weight 1             5865 non-null   float64
 50  Height 2             5865 non-null   float64
 51  Weight 2             5865 non-null   float64
 52  Record 1             5865 non-null   object
 53  Record 2             5865 non-null   object
 54  Stance 1_Open        5865 non-null   uint8
 55  Stance 1_Orthodox    5865 non-null   uint8
 56  Stance 1_Southpaw    5865 non-null   uint8
 57  Stance 1_Switch      5865 non-null   uint8
 58  Stance 2_Open        5865 non-null   uint8
 59  Stance 2_Orthodox    5865 non-null   uint8
 60  Stance 2_Sideways    5865 non-null   uint8
 61  Stance 2_Southpaw    5865 non-null   uint8
 62  Stance 2_Switch      5865 non-null   uint8
 63  Stance 1_Sideways    5865 non-null   float64
dtypes: datetime64[ns](2), float64(7), int64(40), object(6), uint8(9)
memory usage: 2.7+ MB

In [50]:
fights_data2.loc[1]

result 1                        0
fighter 1            Chase Hooper
Sig. str 1                     31
Sig. str. % 1                  50
Head 1                         21
                         ...
Stance 2_Orthodox               1
Stance 2_Sideways               0
Stance 2_Southpaw               0
Stance 2_Switch                 0
Stance 1_Sideways             0.0
Name: 1, Length: 64, dtype: object

In [53]:
#creating some new basic derived features
#we have strike defense, we need takedown defense
fights_data2["tdd1"] = fights_data2["Td attempted 2"] - fights_data2["Td 2"]
fights_data2["tdd2"] = fights_data2["Td attempted 1"] - fights_data2["Td 1"]

In [55]:
#lets do tdd percentages
tddp1 = []
tddp2 = []

for i in fights_data2.index:
    if fights_data2["tdd1"][i] == 0 and fights_data2["Td attempted 2"][i] == 0:
        tddp1.append(0)
#     elif fights_data2["tdd2"][i] == 0 and fights_data2["Td attempted 1"][i] == 0:
#         tddp2.append(0)
    else:
        tddp_one = fights_data2["tdd1"][i]/fights_data2["Td attempted 2"][i]
#         tddp_two = fights_data2["tdd2"][i]/fights_data2["Td attempted 1"][i]
        
        tddp1.append(tddp_one)
#         tddp2.append(tddp_two)

for i in fights_data2.index:
    if fights_data2["tdd2"][i] == 0 and fights_data2["Td attempted 1"][i] == 0:
        tddp2.append(0)
    else:
     
        tddp_two = fights_data2["tdd2"][i]/fights_data2["Td attempted 1"][i]
        tddp2.append(tddp_two)

In [56]:
fights_data2["Td % 1"] = tddp1
fights_data2["Td % 2"] = tddp2

In [57]:
fights_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5865 entries, 0 to 5973
Data columns (total 66 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result 1             5865 non-null   int64
 1   fighter 1            5865 non-null   object
 2   Sig. str 1           5865 non-null   int64
 3   Sig. str. % 1        5865 non-null   int64
 4   Head 1               5865 non-null   int64
 5   Body 1               5865 non-null   int64
 6   Leg 1                5865 non-null   int64
 7   Distance 1           5865 non-null   int64
 8   Clinch 1             5865 non-null   int64
 9   Ground 1             5865 non-null   int64
 10  KD 1                 5865 non-null   int64
 11  Total str. 1         5865 non-null   int64
 12  Td 1                 5865 non-null   int64
 13  Td % 1               5865 non-null   float64
 14  Sub. att 1           5865 non-null   int64
 15  Rev. 1               5865 non-null   int64
 16  Ctrl 1               5865 non-null   int64
 17  time1                5865 non-null   float64
 18  method1              5865 non-null   object
 19  date1                5865 non-null   datetime64[ns]
 20  result 2             5865 non-null   int64
 21  fighter 2            5865 non-null   object
 22  Sig. str 2           5865 non-null   int64
 23  Sig. str. % 2        5865 non-null   int64
 24  Head 2               5865 non-null   int64
 25  Body 2               5865 non-null   int64
 26  Leg 2                5865 non-null   int64
 27  Distance 2           5865 non-null   int64
 28  Clinch 2             5865 non-null   int64
 29  Ground 2             5865 non-null   int64
 30  KD 2                 5865 non-null   int64
 31  Total str. 2         5865 non-null   int64
 32  Td 2                 5865 non-null   int64
 33  Td % 2               5865 non-null   float64
 34  Sub. att 2           5865 non-null   int64
 35  Rev. 2               5865 non-null   int64
 36  Ctrl 2               5865 non-null   int64
 37  time2                5865 non-null   float64
 38  method2              5865 non-null   object
 39  date2                5865 non-null   datetime64[ns]
 40  Sig. str attempted1  5865 non-null   int64
 41  Sig. str absorbed1   5865 non-null   int64
 42  Sig. str defended1   5865 non-null   int64
 43  Td attempted 1       5865 non-null   int64
 44  Sig. str attempted2  5865 non-null   int64
 45  Sig. str absorbed2   5865 non-null   int64
 46  Sig. str defended2   5865 non-null   int64
 47  Td attempted 2       5865 non-null   int64
 48  Height 1             5865 non-null   float64
 49  Weight 1             5865 non-null   float64
 50  Height 2             5865 non-null   float64
 51  Weight 2             5865 non-null   float64
 52  Record 1             5865 non-null   object
 53  Record 2             5865 non-null   object
 54  Stance 1_Open        5865 non-null   uint8
 55  Stance 1_Orthodox    5865 non-null   uint8
 56  Stance 1_Southpaw    5865 non-null   uint8
 57  Stance 1_Switch      5865 non-null   uint8
 58  Stance 2_Open        5865 non-null   uint8
 59  Stance 2_Orthodox    5865 non-null   uint8
 60  Stance 2_Sideways    5865 non-null   uint8
 61  Stance 2_Southpaw    5865 non-null   uint8
 62  Stance 2_Switch      5865 non-null   uint8
 63  Stance 1_Sideways    5865 non-null   float64
 64  tdd1                 5865 non-null   int64
 65  tdd2                 5865 non-null   int64
dtypes: datetime64[ns](2), float64(9), int64(40), object(6), uint8(9)
memory usage: 2.8+ MB

In [58]:
#the only non numbers still left are names and records, these will be dealt in anothe rnotebook
fights_data2.to_pickle("fights_strings_removed.pkl")