In [23]:
import numpy as np
import pandas as pd
from pandas import Timestamp

In [2]:
fights_data = pd.read_pickle("fights-data-cleaned.pkl")
fights_data

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Distance 2,Clinch 2,Ground 2,KD 2,Total str. 2,Td 2,Td % 2,Sub. att 2,Rev. 2,Ctrl 2
0,L,Dusko Todorovic,37 of 120,30%,23 of 103,10 of 13,4 of 4,27 of 106,10 of 14,0 of 0,...,63 of 136,8 of 14,0 of 0,0,73 of 153,3 of 5,60%,0,0,1:25
1,L,Francisco Trinaldo,39 of 128,30%,22 of 101,16 of 26,1 of 1,34 of 119,5 of 9,0 of 0,...,48 of 98,1 of 1,13 of 19,1,71 of 129,2 of 3,66%,0,0,2:07
2,L,Makwan Amirkhani,20 of 49,40%,14 of 40,4 of 7,2 of 2,15 of 42,0 of 0,5 of 7,...,27 of 62,0 of 0,1 of 1,0,100 of 143,0 of 0,---,3,0,1:34
3,L,Walt Harris,23 of 40,57%,17 of 33,6 of 7,0 of 0,19 of 35,4 of 5,0 of 0,...,4 of 10,0 of 0,0 of 0,0,59 of 71,1 of 2,50%,0,0,2:18
4,W,Manon Fiorot,84 of 172,48%,68 of 154,8 of 10,8 of 8,61 of 140,17 of 24,6 of 8,...,16 of 89,1 of 1,0 of 0,0,17 of 91,0 of 1,0%,0,0,0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5956,W,Vitor Belfort,7 of 13,53%,7 of 13,0 of 0,0 of 0,7 of 13,0 of 0,0 of 0,...,1 of 2,0 of 0,0 of 0,0,1 of 2,0 of 0,---,0,0,--
5957,W,Pat Miletich,19 of 34,55%,2 of 12,12 of 14,5 of 8,4 of 14,15 of 20,0 of 0,...,1 of 12,23 of 29,0 of 2,0,145 of 173,2 of 2,100%,2,1,--
5958,W,Tulio Palhares,31 of 44,70%,26 of 36,1 of 1,4 of 7,11 of 23,1 of 1,19 of 20,...,4 of 24,0 of 0,7 of 12,0,21 of 47,2 of 3,66%,0,1,--
5959,W,Ebenezer Fontes Braga,9 of 16,56%,6 of 11,1 of 3,2 of 2,2 of 2,5 of 10,2 of 4,...,0 of 0,3 of 5,0 of 0,0,11 of 13,0 of 0,---,0,0,--
5960,W,Frank Shamrock,23 of 33,69%,5 of 12,8 of 10,10 of 11,8 of 12,7 of 10,8 of 11,...,1 of 8,0 of 0,3 of 3,0,11 of 18,3 of 4,75%,1,0,--

In [3]:
#we forgot to add dates, will add back

In [7]:
dates_df = pd.read_pickle("fights_data.pkl")["date"]
# dates_df = dates_df["date"]
dates_df

0       2021-06-12
1       2021-06-12
2       2021-06-12
3       2021-06-12
4       2021-06-12
           ...
11917   1999-03-05
11918   1999-03-05
11919   1999-03-05
11920   1999-03-05
11921   1999-03-05
Name: date, Length: 11922, dtype: datetime64[ns]

In [13]:
dates = []
for d in range(0, len(dates_df), 2):
    dates.append(dates_df[d])

In [15]:
fights_data["date"] = dates

In [34]:
fights_data

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Clinch 2,Ground 2,KD 2,Total str. 2,Td 2,Td % 2,Sub. att 2,Rev. 2,Ctrl 2,date
0,L,Dusko Todorovic,37 of 120,30%,23 of 103,10 of 13,4 of 4,27 of 106,10 of 14,0 of 0,...,8 of 14,0 of 0,0,73 of 153,3 of 5,60%,0,0,1:25,2021-06-12
1,L,Francisco Trinaldo,39 of 128,30%,22 of 101,16 of 26,1 of 1,34 of 119,5 of 9,0 of 0,...,1 of 1,13 of 19,1,71 of 129,2 of 3,66%,0,0,2:07,2021-06-12
2,L,Makwan Amirkhani,20 of 49,40%,14 of 40,4 of 7,2 of 2,15 of 42,0 of 0,5 of 7,...,0 of 0,1 of 1,0,100 of 143,0 of 0,---,3,0,1:34,2021-06-12
3,L,Walt Harris,23 of 40,57%,17 of 33,6 of 7,0 of 0,19 of 35,4 of 5,0 of 0,...,0 of 0,0 of 0,0,59 of 71,1 of 2,50%,0,0,2:18,2021-06-12
4,W,Manon Fiorot,84 of 172,48%,68 of 154,8 of 10,8 of 8,61 of 140,17 of 24,6 of 8,...,1 of 1,0 of 0,0,17 of 91,0 of 1,0%,0,0,0:00,2021-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5956,W,Vitor Belfort,7 of 13,53%,7 of 13,0 of 0,0 of 0,7 of 13,0 of 0,0 of 0,...,0 of 0,0 of 0,0,1 of 2,0 of 0,---,0,0,--,1999-03-05
5957,W,Pat Miletich,19 of 34,55%,2 of 12,12 of 14,5 of 8,4 of 14,15 of 20,0 of 0,...,23 of 29,0 of 2,0,145 of 173,2 of 2,100%,2,1,--,1999-03-05
5958,W,Tulio Palhares,31 of 44,70%,26 of 36,1 of 1,4 of 7,11 of 23,1 of 1,19 of 20,...,0 of 0,7 of 12,0,21 of 47,2 of 3,66%,0,1,--,1999-03-05
5959,W,Ebenezer Fontes Braga,9 of 16,56%,6 of 11,1 of 3,2 of 2,2 of 2,5 of 10,2 of 4,...,3 of 5,0 of 0,0,11 of 13,0 of 0,---,0,0,--,1999-03-05
5960,W,Frank Shamrock,23 of 33,69%,5 of 12,8 of 10,10 of 11,8 of 12,7 of 10,8 of 11,...,0 of 0,3 of 3,0,11 of 18,3 of 4,75%,1,0,--,1999-03-05

In [39]:
#cleaning some data, will convert strings to ints, create a few more columns
#overall strikes fighter 1
sig_strike_landed1 = []
sig_strike_attempted1 = []
sig_strike_defended2 = []
for s in fights_data["Sig. str 1"]:
    s = s.split(" ")
    sig_strike_landed1.append(int(s[0]))
    sig_strike_attempted1.append(int(s[2]))
    delta = int(s[2]) - int(s[0])
    sig_strike_defended2.append(delta)
    
sig_strike_absorbed2 = sig_strike_landed1

In [44]:
#same for fighter 2
sig_strike_landed2 = []
sig_strike_attempted2 = []
sig_strike_defended1 = []
for s in fights_data["Sig. str 2"]:
    s = s.split(" ")
    sig_strike_landed2.append(int(s[0]))
    sig_strike_attempted2.append(int(s[2]))
    delta = int(s[2]) - int(s[0])
    sig_strike_defended1.append(delta)
    
sig_strike_absorbed1 = sig_strike_landed1

In [66]:
#specific targeted area strikes now, for fighter 1
head1 = []
body1 = []
leg1 = []
distance1 = []
clinch1 = []
ground1 = []

for i in range(0, len(fights_data)):
    head1.append(int((fights_data.loc[i, "Head 1"].split(" ")[0])))
    body1.append(int((fights_data.loc[i, "Body 1"].split(" ")[0])))
    leg1.append(int((fights_data.loc[i, "Leg 1"].split(" ")[0])))
    distance1.append(int((fights_data.loc[i, "Distance 1"].split(" ")[0])))
    clinch1.append(int((fights_data.loc[i, "Clinch 1"].split(" ")[0])))
    ground1.append(int((fights_data.loc[i, "Ground 1"].split(" ")[0])))

In [70]:
#now the same for fighter 2
head2 = []
body2 = []
leg2 = []
distance2 = []
clinch2 = []
ground2 = []

for i in range(0, len(fights_data)):
    head2.append(int((fights_data.loc[i, "Head 2"].split(" ")[0])))
    body2.append(int((fights_data.loc[i, "Body 2"].split(" ")[0])))
    leg2.append(int((fights_data.loc[i, "Leg 2"].split(" ")[0])))
    distance2.append(int((fights_data.loc[i, "Distance 2"].split(" ")[0])))
    clinch2.append(int((fights_data.loc[i, "Clinch 2"].split(" ")[0])))
    ground2.append(int((fights_data.loc[i, "Ground 2"].split(" ")[0])))

In [84]:
#now lets do grappling stats
td1 = []
td_attempted1 = []

td2 = []
td_attempted2 = []


for i in range(0, len(fights_data)):
    td1.append(int((fights_data.loc[i, "Td 1"].split(" ")[0])))
    td_attempted1.append(int((fights_data.loc[i, "Td 1"].split(" ")[2])))
    
    td2.append(int((fights_data.loc[i, "Td 2"].split(" ")[0])))
    td_attempted2.append(int((fights_data.loc[i, "Td 2"].split(" ")[2])))

In [90]:
#now that we have made these changes, lets replace the relevant ones, and add the new ones for fighter 1
fights_data['Sig. str 1'] = sig_strike_landed1
fights_data['Sig. str attempted1'] = sig_strike_attempted1
fights_data['Sig. str absorbed1'] = sig_strike_absorbed1
fights_data['Sig. str defended1'] = sig_strike_defended1

fights_data['Head 1'] = head1
fights_data['Body 1'] = body1
fights_data['Leg 1'] = leg1
fights_data['Distance 1'] = distance1
fights_data['Clinch 1'] = clinch1
fights_data['Ground 1'] = ground1

fights_data['Td 1'] = td1
fights_data['Td attempted 1'] = td_attempted1

In [91]:
#fighter 2
fights_data['Sig. str 2'] = sig_strike_landed2
fights_data['Sig. str attempted2'] = sig_strike_attempted2
fights_data['Sig. str absorbed2'] = sig_strike_absorbed2
fights_data['Sig. str defended2'] = sig_strike_defended2

fights_data['Head 2'] = head2
fights_data['Body 2'] = body2
fights_data['Leg 2'] = leg2
fights_data['Distance 2'] = distance2
fights_data['Clinch 2'] = clinch2
fights_data['Ground 2'] = ground2

fights_data['Td 2'] = td2
fights_data['Td attempted 2'] = td_attempted2

Index(['result 1', 'fighter 1', 'Sig. str 1', 'Sig. str. % 1', 'Head 1',
       'Body 1', 'Leg 1', 'Distance 1', 'Clinch 1', 'Ground 1', 'KD 1',
       'Total str. 1', 'Td 1', 'Td % 1', 'Sub. att 1', 'Rev. 1', 'Ctrl 1',
       'result 2', 'fighter 2', 'Sig. str 2', 'Sig. str. % 2', 'Head 2',
       'Body 2', 'Leg 2', 'Distance 2', 'Clinch 2', 'Ground 2', 'KD 2',
       'Total str. 2', 'Td 2', 'Td % 2', 'Sub. att 2', 'Rev. 2', 'Ctrl 2',
       'date', 'Sig. str attempted1', 'Sig. str absorbed1',
       'Sig. str defended1', 'Td attempted 1', 'Sig. str attempted2',
       'Sig. str absorbed2', 'Sig. str defended2', 'Td attempted 2'],
      dtype='object')

In [94]:
#we forgot total strikes not just significant strikes
total_strike_landed1 = []
total_strike_landed2 = []

for s in fights_data["Total str. 1"]:
    s = s.split(" ")
    total_strike_landed1.append(int(s[0]))

for s in fights_data["Total str. 2"]:
    s = s.split(" ")
    total_strike_landed2.append(int(s[0]))

In [97]:
fights_data["Total str. 1"] = total_strike_landed1
fights_data["Total str. 2"] = total_strike_landed2

In [102]:
#lets check for missing data
fights_data.info()
#no null values
#but values of style "--" exist
#we will replace all of these with 0
fights_data2 = fights_data.replace(['--'], 0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5961 entries, 0 to 5960
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result 1             5961 non-null   object
 1   fighter 1            5961 non-null   object
 2   Sig. str 1           5961 non-null   int64
 3   Sig. str. % 1        5961 non-null   object
 4   Head 1               5961 non-null   int64
 5   Body 1               5961 non-null   int64
 6   Leg 1                5961 non-null   int64
 7   Distance 1           5961 non-null   int64
 8   Clinch 1             5961 non-null   int64
 9   Ground 1             5961 non-null   int64
 10  KD 1                 5961 non-null   object
 11  Total str. 1         5961 non-null   int64
 12  Td 1                 5961 non-null   int64
 13  Td % 1               5961 non-null   object
 14  Sub. att 1           5961 non-null   object
 15  Rev. 1               5961 non-null   object
 16  Ctrl 1               5961 non-null   object
 17  result 2             5961 non-null   object
 18  fighter 2            5961 non-null   object
 19  Sig. str 2           5961 non-null   int64
 20  Sig. str. % 2        5961 non-null   object
 21  Head 2               5961 non-null   int64
 22  Body 2               5961 non-null   int64
 23  Leg 2                5961 non-null   int64
 24  Distance 2           5961 non-null   int64
 25  Clinch 2             5961 non-null   int64
 26  Ground 2             5961 non-null   int64
 27  KD 2                 5961 non-null   object
 28  Total str. 2         5961 non-null   int64
 29  Td 2                 5961 non-null   int64
 30  Td % 2               5961 non-null   object
 31  Sub. att 2           5961 non-null   object
 32  Rev. 2               5961 non-null   object
 33  Ctrl 2               5961 non-null   object
 34  date                 5961 non-null   datetime64[ns]
 35  Sig. str attempted1  5961 non-null   int64
 36  Sig. str absorbed1   5961 non-null   int64
 37  Sig. str defended1   5961 non-null   int64
 38  Td attempted 1       5961 non-null   int64
 39  Sig. str attempted2  5961 non-null   int64
 40  Sig. str absorbed2   5961 non-null   int64
 41  Sig. str defended2   5961 non-null   int64
 42  Td attempted 2       5961 non-null   int64
dtypes: datetime64[ns](1), int64(26), object(16)
memory usage: 2.0+ MB

In [116]:
#want to change control time to seconds for easier handling
import datetime

ctrl_times1 = []
ctrl_times2 = []

for t in fights_data2["Ctrl 1"]:
    try:
        ctr = int((datetime.datetime.strptime(t, "%M:%S") - datetime.datetime(1900, 1, 1)).total_seconds())
        ctrl_times1.append(ctr)
    except:
        ctrl_times1.append(t)
        
for t in fights_data2["Ctrl 2"]:
    try:
        ctr = int((datetime.datetime.strptime(t, "%M:%S") - datetime.datetime(1900, 1, 1)).total_seconds())
        ctrl_times2.append(ctr)
    except:
        ctrl_times2.append(t)

In [118]:
#setting to dataframe
fights_data2["Ctrl 1"] = ctrl_times1
fights_data2["Ctrl 2"] = ctrl_times2

In [119]:
fights_data2

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Ctrl 2,date,Sig. str attempted1,Sig. str absorbed1,Sig. str defended1,Td attempted 1,Sig. str attempted2,Sig. str absorbed2,Sig. str defended2,Td attempted 2
0,L,Dusko Todorovic,37,30%,23,10,4,27,10,0,...,85,2021-06-12,120,37,79,4,150,37,83,5
1,L,Francisco Trinaldo,39,30%,22,16,1,34,5,0,...,127,2021-06-12,128,39,56,1,118,39,89,3
2,L,Makwan Amirkhani,20,40%,14,4,2,15,0,5,...,94,2021-06-12,49,20,35,9,63,20,29,0
3,L,Walt Harris,23,57%,17,6,0,19,4,0,...,138,2021-06-12,40,23,6,0,10,23,17,2
4,W,Manon Fiorot,84,48%,68,8,8,61,17,6,...,0,2021-06-12,172,84,73,1,90,84,88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5956,W,Vitor Belfort,7,53%,7,0,0,7,0,0,...,0,1999-03-05,13,7,1,0,2,7,6,0
5957,W,Pat Miletich,19,55%,2,12,5,4,15,0,...,0,1999-03-05,34,19,19,9,43,19,15,2
5958,W,Tulio Palhares,31,70%,26,1,4,11,1,19,...,0,1999-03-05,44,31,25,4,36,31,13,3
5959,W,Ebenezer Fontes Braga,9,56%,6,1,2,2,5,2,...,0,1999-03-05,16,9,2,1,5,9,7,0
5960,W,Frank Shamrock,23,69%,5,8,10,8,7,8,...,0,1999-03-05,33,23,7,0,11,23,10,4

In [121]:
set(fights_data2["result 2"])

{'D', 'L', 'NC'}

In [133]:
fights_data[fights_data["result 1"] == "L"]

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Ctrl 2,date,Sig. str attempted1,Sig. str absorbed1,Sig. str defended1,Td attempted 1,Sig. str attempted2,Sig. str absorbed2,Sig. str defended2,Td attempted 2
0,L,Dusko Todorovic,37,30%,23,10,4,27,10,0,...,1:25,2021-06-12,120,37,79,4,150,37,83,5
1,L,Francisco Trinaldo,39,30%,22,16,1,34,5,0,...,2:07,2021-06-12,128,39,56,1,118,39,89,3
2,L,Makwan Amirkhani,20,40%,14,4,2,15,0,5,...,1:34,2021-06-12,49,20,35,9,63,20,29,0
3,L,Walt Harris,23,57%,17,6,0,19,4,0,...,2:18,2021-06-12,40,23,6,0,10,23,17,2
7,L,Tanner Boser,45,42%,32,11,2,28,4,13,...,6:38,2021-06-12,105,45,28,0,38,45,60,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4817,L,Ben Saunders,17,56%,4,6,7,4,13,0,...,12:13,2010-03-31,30,17,27,0,99,17,13,7
4820,L,Eric Schafer,27,33%,22,5,0,17,8,2,...,7:12,2010-03-31,81,27,75,3,145,27,54,6
4821,L,Eliot Marshall,19,19%,11,5,3,19,0,0,...,1:27,2010-03-31,97,19,63,0,91,19,78,3
4823,L,Brandon Vera,5,62%,3,1,1,1,1,3,...,2:43,2010-03-27,8,5,6,0,17,5,3,3
4829,L,Duane Ludwig,1,20%,1,0,0,1,0,0,...,0:10,2010-03-27,5,1,2,0,2,1,4,2

In [134]:
#there was a slight error in scraping results
#the problem is that result 1 should be winners and 2 should be losers
#but result 2 is only Ls
#result 1 has about 1968 Ls
#probably something to do with website format change
#for every L in result1, we will replace result 2 of that corresponding row with a W
#the rest will be the same
#we will make a copy of the dataframe just in case
fights_data3 = fights_data2.copy()

In [136]:
res1 = []
res2 = []
for r in fights_data3["result 1"]:
    if r == "L":
        res1.append(r)
        res2.append("W")
    elif r == "NC":
        res1.append(r)
        res2.append(r)
    elif r == "D":
        res1.append(r)
        res2.append(r)
    else:
        res1.append("W")
        res2.append("L")

In [139]:
fights_data3["result 1"] = res1
fights_data3["result 2"] = res2

In [144]:
fights_data3[fights_data3["result 1"] == "W"]

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Ctrl 2,date,Sig. str attempted1,Sig. str absorbed1,Sig. str defended1,Td attempted 1,Sig. str attempted2,Sig. str absorbed2,Sig. str defended2,Td attempted 2
4,W,Manon Fiorot,84,48%,68,8,8,61,17,6,...,0,2021-06-12,172,84,73,1,90,84,88,1
5,W,Santiago Ponzinibbio,121,44%,98,12,11,121,0,0,...,0,2021-06-12,270,121,145,2,249,121,149,0
6,W,Roman Dolidze,14,35%,9,0,5,5,9,0,...,50,2021-06-12,39,14,29,9,38,14,25,5
8,W,Sean Woodson,40,34%,23,6,11,33,7,0,...,381,2021-06-12,116,40,47,0,89,40,76,17
9,W,Jairzinho Rozenstruik,16,55%,6,5,5,15,0,1,...,0,2021-06-12,29,16,11,0,14,16,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5956,W,Vitor Belfort,7,53%,7,0,0,7,0,0,...,0,1999-03-05,13,7,1,0,2,7,6,0
5957,W,Pat Miletich,19,55%,2,12,5,4,15,0,...,0,1999-03-05,34,19,19,9,43,19,15,2
5958,W,Tulio Palhares,31,70%,26,1,4,11,1,19,...,0,1999-03-05,44,31,25,4,36,31,13,3
5959,W,Ebenezer Fontes Braga,9,56%,6,1,2,2,5,2,...,0,1999-03-05,16,9,2,1,5,9,7,0
5960,W,Frank Shamrock,23,69%,5,8,10,8,7,8,...,0,1999-03-05,33,23,7,0,11,23,10,4

In [145]:
#since draws and no contests are very rare, we will get rid of them entirely
fights_data4 = fights_data3.replace(["D", "NC"], float("NaN"))

fights_data4 = fights_data4.dropna()

In [149]:
#as seen no more draws or unique values
print(set(fights_data4["result 1"]))
print(set(fights_data4["result 2"]))

{'W', 'L'}
{'L', 'W'}

In [150]:
#only lost about a 100 rows of data from almost 6000, not bad at all, about 2% of the dataset
fights_data4

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Ctrl 2,date,Sig. str attempted1,Sig. str absorbed1,Sig. str defended1,Td attempted 1,Sig. str attempted2,Sig. str absorbed2,Sig. str defended2,Td attempted 2
0,L,Dusko Todorovic,37,30%,23,10,4,27,10,0,...,85,2021-06-12,120,37,79,4,150,37,83,5
1,L,Francisco Trinaldo,39,30%,22,16,1,34,5,0,...,127,2021-06-12,128,39,56,1,118,39,89,3
2,L,Makwan Amirkhani,20,40%,14,4,2,15,0,5,...,94,2021-06-12,49,20,35,9,63,20,29,0
3,L,Walt Harris,23,57%,17,6,0,19,4,0,...,138,2021-06-12,40,23,6,0,10,23,17,2
4,W,Manon Fiorot,84,48%,68,8,8,61,17,6,...,0,2021-06-12,172,84,73,1,90,84,88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5956,W,Vitor Belfort,7,53%,7,0,0,7,0,0,...,0,1999-03-05,13,7,1,0,2,7,6,0
5957,W,Pat Miletich,19,55%,2,12,5,4,15,0,...,0,1999-03-05,34,19,19,9,43,19,15,2
5958,W,Tulio Palhares,31,70%,26,1,4,11,1,19,...,0,1999-03-05,44,31,25,4,36,31,13,3
5959,W,Ebenezer Fontes Braga,9,56%,6,1,2,2,5,2,...,0,1999-03-05,16,9,2,1,5,9,7,0
5960,W,Frank Shamrock,23,69%,5,8,10,8,7,8,...,0,1999-03-05,33,23,7,0,11,23,10,4

In [159]:
fights_data4.to_pickle("fights_data_cleaning2.pkl")