In [1]:
import numpy as np
import pandas as pd

In [2]:
model_df = pd.read_pickle("model_data.pkl")

In [3]:
model_df

,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,KD 1,...,decs 1,kos 2,subs 2,decs 2,lkos 1,lsubs 1,ldecs 1,lkos 2,lsubs 2,ldecs 2
5973,Tsuyoshi Kohsaka,14,35,7,4,3,11,0,3,0,...,0,0,0,0,0,0,0,0,0,0
5972,Ebenezer Fontes Braga,9,56,6,1,2,2,5,2,0,...,0,0,0,0,0,0,0,0,0,0
5971,Pat Miletich,19,55,2,12,5,4,15,0,0,...,0,0,0,0,0,0,0,0,0,0
5970,Vitor Belfort,7,53,7,0,0,7,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5969,Mikey Burnett,42,31,28,9,5,21,19,2,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Israel Adesanya,96,53,44,11,41,85,10,1,0,...,5,0,2,5,0,0,1,0,0,2
3,Paul Craig,23,92,18,4,1,6,0,17,0,...,0,1,0,1,3,1,0,0,0,0
2,Eryk Anders,44,59,36,7,1,9,17,18,0,...,2,2,1,2,1,0,4,0,2,3
1,Chase Hooper,31,50,21,9,1,28,0,3,0,...,0,1,0,1,0,0,1,0,0,3
0,Drew Dober,73,43,52,18,3,67,2,4,0,...,3,0,0,3,0,4,2,0,0,0

In [ ]:
#since we cant predict how many strikes and takedowns a fighter will land, we will have to change the features 
#to be aggregated somehow
#a common measure is str