In [5]:
import pandas as pd

fighter_data = pd.read_pickle("fighter_data.pkl")
fights_data = pd.read_pickle("fights_data_cleaning2.pkl")
fights_data_top = fights_data.head() 
fights_data_top

,result 1,fighter 1,Sig. str 1,Sig. str. % 1,Head 1,Body 1,Leg 1,Distance 1,Clinch 1,Ground 1,...,Ctrl 2,date,Sig. str attempted1,Sig. str absorbed1,Sig. str defended1,Td attempted 1,Sig. str attempted2,Sig. str absorbed2,Sig. str defended2,Td attempted 2
0,L,Dusko Todorovic,37,30%,23,10,4,27,10,0,...,85,2021-06-12,120,37,79,4,150,37,83,5
1,L,Francisco Trinaldo,39,30%,22,16,1,34,5,0,...,127,2021-06-12,128,39,56,1,118,39,89,3
2,L,Makwan Amirkhani,20,40%,14,4,2,15,0,5,...,94,2021-06-12,49,20,35,9,63,20,29,0
3,L,Walt Harris,23,57%,17,6,0,19,4,0,...,138,2021-06-12,40,23,6,0,10,23,17,2
4,W,Manon Fiorot,84,48%,68,8,8,61,17,6,...,0,2021-06-12,172,84,73,1,90,84,88,1